<h1>Welcome to Rewsly. It will get interesting, I swear.</h1>

<h2>These are real life stories from the interwebs. </h2>

<ol>

	<% @stories.each do |story| story %>
		<li><%= story %></li>
	<%end%>


</ol>